[2019-06-05 07:46] Pipo93 opened #6 "toHaveStyle support for styled-components"
Since many projects are using styled-components for styling their react-native components, it would be nice if toHaveStyle would support it instead of just supporting the style property.

[2019-06-05 10:36] bcarroll22 commented on #6
Hello again 👋

My question is, does styled components not ultimately pass its styles into the native components? I’m fairly certain this matcher does support styled components because its styles have to end up being passed into the native components. I assume what you’re trying to do is select the styled wrapper and not the native node itself, which wouldn’t work. You can only select the native no

[2019-06-11 15:24] lewie9021 opened #7 "TypeScript fails to find extended expect methods"
- `react-native` or `expo`: 0.59.2
- `@testing-library/react-native` version: 4.0.2
- `@testing-library/jest-native` version: 3.0.1
- `jest-preset`: "@testing-library/react-native"
- `react-native` version: 0.59.2
- `typescript` version: 3.1.6
- `node` version: 10.13.0

### Relevant code or config:

[code]

### What you did:

Installed `jest-native` within a project using TypeScript.

### What hap

[2019-06-12 13:41] bcarroll22 commented on #7
Hey thanks for pointing this out. I think that it makes sense to me, but my only question is, this is how the matchers are typed in [jest-dom](https://github.com/testing-library/jest-dom) as well, so do you think this a problem there as well? I couldn't find any issues about this on their repo and that one is widely used by more than just React folks, so are we positive this isn't something else a

[2019-06-12 13:55] lewie9021 commented on #7
That's a valid point. I've not used `react-testing-library` or `jest-dom` yet, but like you say - if they work so should this. My solution came from an issue in the `react-testing-library` project [here](https://github.com/testing-library/react-testing-library/issues/36#issuecomment-444580722). It's probably worth noting that I'm using v3.1.6 of TypeScript with this library, so that might be part

[2019-06-14 18:26] fgc29 opened #8 "toBeEmpty is incorrectly returning false when children's prop on element is false"
The **toBeEmpty** method is incorrectly returning false when children's prop on the queried element is false.  The example below is for a conditionally rendered child.

This works as expected (props => children => undefined)

[code]
but in this example the **toBeEmpty** method incorrectly returns false... (props => children => false)

[code]

[2019-06-17 19:11] bcarroll22 commented on #8
Hey this makes sense because the children prop isn't "empty in the sense that it isn't an empty React object or an empty array. That said, for a user, the element will appear to be empty.

Do you have a suggested fix that would make this work for your use case?

[2019-06-19 15:19] bcarroll22 commented on #7
@lewie9021 what's the verdict here? what do you think we should do?

[2019-06-19 15:21] bcarroll22 commented on #6
I'm gonna go ahead and close this due to inactivity. I'm not sure this is something that should be supported from within this library because support for it would be so specific to styled-components, but I'd encourage you to explore building a third-party matcher that would fulfill your needs and then submit a PR to the docs to add it to the ecosystem.

Good luck and I look forward to hopefully se

[2019-06-19 15:21] #6 closed

[2019-07-14 07:55] marnusw commented on #7
I believe the `import` changes the definition from global augmentation to a module definition. In `jest-dom` there is no import and as such they too are augmenting the global namespace. I've confirmed the suggested solution works and have created a PR #9 for it.

[2019-07-15 18:26] #7 closed

[2019-07-15 18:31] bcarroll22 commented on #7
:tada: This issue has been resolved in version 3.0.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/jest-native/releases/tag/v3.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-29 20:24] sinxwal commented on #7
I think that error was not fixed in 3.0.2

[2019-07-30 21:11] bcarroll22 commented on #8
I'm going to close this one due to inactivity. If anyone in the future stumbles across this and would like to submit a suggested fix as a PR, I'm all for it 👍

[2019-07-30 21:11] #8 closed

[2019-07-30 21:11] bcarroll22 commented on #7
🤔 can anyone else chime in? Or if anyone can think of a better fix for the issue, PRs are welcome 👍

[2019-07-31 12:55] marnusw commented on #7
For the record I'm using version 3.0.2 without any further issues. It might help to understand your setup better @sinxwal.

[2019-11-11 06:04] alexandermckay commented on #7
I am still getting the issue in version 3.0.2

[2019-11-19 09:46] mikinw commented on #6
I have the same (similar) issue. There is a component:
`<MaterialIcons
            testID="iconID"
            style={[styles.icon, {backgroundColor: '#ff0000'}]}
          />`

the styles.js looks like this:
`  icon: {
    color: Colors.paleWhite,
  },`

When I create a snapshot, it gives me this:
`...
<Text
        allowFontScaling={false}
        style={
          Array [
            Object {

[2019-11-19 11:08] mikinw opened #14 "toHaveStyle does not find all styles"
**Describe the feature you'd like:**

I have the same (similar) issue. There is a component:
`<MaterialIcons
            testID="iconID"
            style={[styles.icon, {backgroundColor: '#ff0000'}]}
          />`

the styles.js looks like this:
`  icon: {
    color: Colors.paleWhite,
  },`

When I create a snapshot, it gives me this:
`...
<Text
        allowFontScaling={false}
        style={

[2019-11-19 12:37] mikinw commented on #14
I just realised, there is is a quite recent new release (3.0.3. for the record), which solves the issue.
Thanks for the quick fix ;-).

[2019-11-19 12:37] #14 closed

[2020-02-07 14:04] sibelius opened #20 "can't assert that an element is empty"
- `react-native` or `expo`: react-native
- `@testing-library/react-native` version: 5.0.1
- `jest-preset`: @testing-library/react-native
- `react-native` version: 0.61.4
- `node` version: 12.4.0

### Relevant code or config:

[code]

### What you did:

Tried to assert that an element is not renderered

### What happened:

[code]

on this line:
expect(queryByText('Not There')).toBeEmpty();

### Rep

[2020-02-07 14:09] sibelius commented on #20
nevermind

the correct assertion is

[code]

[2020-02-07 14:09] #20 closed

[2020-02-25 19:21] yuritoledo opened #21 "Correct setup in react-native typescript project"
Hello,

There are any correct setup to use with TS?

I try to import `import '@testing-library/jest-native/extend-expect'` in `File.test.tsx`, but it falls.

Autocomplete and functions doesnt works.

Versions:
[code]
Jest config:
[code]

[2020-03-23 00:13] satazor opened #22 "Consider removing peer dependencies"
**Describe the feature you'd like:**

Currently, `jest-native` defines a set of peer dependencies such as `react`, `react-native` and `react-test-renderer`.

I noticed that it uses `*` as the version range, which is not really good as it will accept any upcoming versions that might brake the usage. However, after looking at the code, I think there's no reason to define those as peer dependencies.

[2020-04-06 16:57] mtt87 opened #23 ".toBeDisabled() buggy with RN 0.62"
- `react-native` or `expo`: 0.62.1
- `@testing-library/react-native` version: 3.1.0
- `react-native` version: 0.62.1
- `node` version: 12.16.1

Latest version of RN deprecated `accessibilityStates` in favor of `accessibilityState`
https://reactnative.dev/blog/2020/03/26/version-0.62#breaking-changes

Seems like now it's an object
https://github.com/facebook/react-native/commit/7b35f427fd66cb0f3692

[2020-04-08 14:09] mtt87 commented on #23
I think I've found the issue

[code]

Then checking
[code]
The issue is with `DISABLE_TYPES.includes(getType(element)`

Because `getType(element)` returns
[code]

Something might have changed in the `TouchableOpacity` export in React Native and now that's what happens

[2020-04-08 14:12] mtt87 commented on #23
Yes seems to be related https://github.com/facebook/react-native/issues/27721

[2020-04-22 23:21] sjungwirth opened #25 "Update type for Matchers to match @types/jest"
What:

@types/jest recently had some updates to correct the type for Matchers. This update is a breaking change for any TypeScript project that uses expect.extend.

See: DefinitelyTyped/DefinitelyTyped#39243

Why:

@testing-library/jest-native defines the Matchers type in extend-expect.d.ts.

[2020-04-22 23:24] sjungwirth commented on #21
possibly same issue as https://github.com/testing-library/jest-native/issues/25

I fixed it in my project by adding my own type file with the fix:

[code]

[2020-04-23 11:10] yuritoledo commented on #21
Thank you bro, for sharing. I had the same think as you

[2020-05-15 13:18] mdjastrzebski opened #27 "`toHaveProp` not working on Button"
- `react-native` or `expo`: react-native (ver. 4.8.0)
- `@testing-library/react-native` version: 5.0.3
- `jest-preset`: react-native
- `react-native` version: 0.62.2
- `node` version: v12.16.3

### Relevant code or config:

[code]

### What you did:

Running `toHaveProp` sample code for `jest-native` website.

### What happened:

Test fails with following error:

[code]

### Reproduction:

I've se

[2020-07-25 06:50] kentcdodds opened #31 "Call for maintainers"
Is anyone interested in helping maintain this project. The primary maintainer is no longer able to maintain it.

[2020-07-25 14:59] brunohkbx commented on #31
I'd love to help maintain this lib :smiley:

[2020-07-25 15:06] kentcdodds commented on #31
Thanks so much for your help! I've added you as a collaborator on the project. Maintaining this project is similar to React Testing Library, so please make sure that you review React Testing Library's [`other/MAINTAINING.md`](https://github.com/testing-library/react-testing-library/blob/master/other/MAINTAINING.md) and [`CONTRIBUTING.md`](https://github.com/testing-library/react-testing-library/bl

[2020-07-27 07:58] JanithaR commented on #27
Also not working on Picker from `@react-native-community/picker`

[code]

The tests always pass regardless of what I'm passing as the prop value.

[2020-07-27 20:33] dannyhw commented on #23
Is there any update on this? Or a good workaround? I seem to be experiencing the same problem with the Pressable component on 0.63.2.

[2020-07-28 13:13] thymikee commented on #31
Happy to help as well :)

[2020-07-28 13:57] brunohkbx commented on #27
I'll try to spare some time to help you guys. Do you have any suggestions in mind to fix that? If so, feel free to open a PR.

[2020-07-28 14:00] thymikee commented on #27
@mdjastrzebski anything changing from RNTL side provided this PR you recently contributed? https://github.com/callstack/react-native-testing-library/pull/460

[2020-07-28 14:00] brunohkbx commented on #23
About the new prop `accessibilityState` in favor of `AccessibilityStates` I have an open PR #30. I didn't have the chance to look at this, though.

[2020-07-28 16:09] felipebergamin opened #32 "toHaveStyle doesn't working with nested objects/arrays"
- `react-native` or `expo`: react-native
- `@testing-library/react-native` version:

├─ @testing-library/jest-native@3.2.0
├─ @testing-library/react-native@6.0.0

- `jest-preset`: react-native
- `react-native` version: 0.63.1
- `node` version: 14.2.0

### Relevant code or config:

[code]
My jest.config.js:

[code]

### What you did:

Testing with `toHaveStyle` only works when the expected style do

[2020-07-28 18:16] kentcdodds commented on #31
Awesome. Note that you don't *have* to use the existing automation tools as they are if you don't like. Feel free to change things up however you like.

[2020-07-29 23:51] brunohkbx commented on #23
Seems like the only workaround for this one is mocking `TouchableOpacity`, `TouchableHighlight`, and `Pressable.

Something like this: `jest.mock('react-native/Libraries/Components/Touchable/TouchableOpacity', () => 'TouchableOpacity');`

Do you guys think it would be a good solution to doing this mock on our side :thinking: ? @thymikee thoughts?

[2020-07-30 07:33] thymikee commented on #23
I'd like to avoid custom mocks other than the one provided by the core. Does it work with `@testing-library/react-native@7.0.0-rc.0`? It's a prerelease sourced from `react-native-testing-library`. Here's the migration guide: https://github.com/callstack/react-native-testing-library/blob/7.x/website/docs/MigrationV7.md#guide-for-testing-libraryreact-native-users

[2020-07-30 11:00] brunohkbx commented on #23
It probably shouldn't work. The issue here is that RN exported `TouchableHighlight` and `TouchableOpacity` with `React.forwardRef` without a displayName.

https://github.com/facebook/react-native/blob/master/Libraries/Components/Touchable/TouchableHighlight.js#L382
https://github.com/facebook/react-native/blob/master/Libraries/Components/Touchable/TouchableOpacity.js#L301

The matcher `to-be-disab

[2020-07-30 12:35] brunohkbx commented on #23
It turns out this commit didn't fix :disappointed: . Touchables aren't being mocked on RN [setup.js](https://github.com/facebook/react-native/blob/master/jest/setup.js)
So I opened a PR to fix that: https://github.com/facebook/react-native/pull/29531

[2020-07-31 07:59] mdjastrzebski commented on #27
I'll try to reproduce it with TL/RN v7.

[2020-08-24 18:25] yonatan-altaraz commented on #27
i'm experiencing this too.
using these versions:
[code]
i see there's a flag called `isAllowed` in this function (toHaveProp), if it's false, the value check is ignored and it passes if the prop exists.
it seems to be false if the element is not in a 'valid_elements' list (don't understand why it's necessary), the issue in my case is:
this is the row to determine the flag value:
`var isAllowed = _

[2020-08-25 17:39] nickmccurdy opened #34 "Current project support status"
I've noticed `@testing-library/jest-native` has been deprecated. Should this package also be deprecated, or is it actively used elsewhere?

[2020-08-25 17:43] brunohkbx commented on #34
I think it's still actively used. @kentcdodds invited @thymikee and I to help maintain

[2020-08-25 17:46] nickmccurdy commented on #34
Thanks. Should I love this then? Or could it potentially be useful to still deprecate or pivot this issue into supporting the new callstack native testing library?

[2020-08-25 17:52] thymikee commented on #34
This project is fine and not deprecated. Where is it stated?

[2020-08-26 00:07] kentcdodds commented on #34
Yeah, this is still actively maintained.

[2020-08-26 14:27] #34 closed

[2020-08-26 14:42] automatensalat opened #35 "toBeDisabled does not work with styled-components"
- `react-native` or `expo`: react-native
- `@testing-library/react-native` version: 3.3.0
- `jest-preset`: not installed, but I'm sure this doesn't matter
- `react-native` version: 0.63.2
- `node` version: 10
- `styled-components` version: 5.1.1

### Relevant code or config:

[code]

Consider this code. It renders a button styled with `styled-components`.

[code]

This test checks whether the butt

[2020-08-26 14:51] automatensalat commented on #35
Well, I noticed there is [this](https://github.com/testing-library/jest-native/issues/23) issue which also deals with `toBeDisabled`. However it seems this is more about `TouchableOpacity`. The issue I'm having with `styled-components` also holds true for other components like `Button` though:
[code]

Here however we might have a chance to unwrap the component since the `displayName` returns `Styl

[2020-08-26 14:53] thymikee commented on #35
Does it happen with the latest version of `@testing-library/react-native`? It's v7 now

[2020-08-26 15:32] automatensalat commented on #35
No! Good call. I had an older library version installed. Thank you.

[2020-08-26 15:32] #35 closed

[2020-08-26 15:33] thymikee commented on #35
Glad it works :)

[2020-08-26 21:48] yonatan-altaraz commented on #27
i now see it happens for me when i get the ReactTestInstance using `getByText` accessor,
and if i'm using `getByTestId` it returns a ReactTestInstance with a slightly different structure, with `type` property as string, and in this case `toHaveProps` works great.
maybe it's possible to add a check for the type of `type` property in the TestInstance?

[2020-09-03 12:34] yonatan-altaraz opened #37 "toHaveProp does't work properly with @testing-library/react-native: 7.0.2 (latest)"
- `react-native`: "^0.59.6"
- `@testing-library/react-native` version: "7.0.2"
- `node` version: v12.12.0

### Relevant code or config:

this code is coppied from jest-native -> src/to-have-prop.js:
[code]
it assumes element.type is a string, but in the new testing-library version when accessing the element using `getByText` accessor, i get an object with `type: {... , displayName: 'string', ...}`

[2020-09-07 14:42] #32 closed

[2020-09-07 14:47] brunohkbx commented on #25
@sjungwirth thanks for reporting. Would you be able to open a pull request to address that?

[2020-09-08 18:24] #21 closed

[2020-09-08 18:24] #25 closed

[2020-09-08 18:29] bcarroll22 commented on #25
:tada: This issue has been resolved in version 3.4.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/jest-native/releases/tag/v3.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-08 18:29] bcarroll22 commented on #21
:tada: This issue has been resolved in version 3.4.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/jest-native/releases/tag/v3.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-10 15:58] sammysium opened #40 "toHaveStyle with react-native-testing-library"
Given the clear examples given on toHaveStyle, I am thinking the component is not supported. Basically, my custom component outputs Icon (react-native-vector-icons) based on some props. It takes one color and runs some logic to chose the background color. I prefer to test the style that is applied on the component now, which according to react-native-vector-icons is the same as Text component:

[c

[2020-09-23 13:22] brunohkbx commented on #40
@sammysium wouldn't be better to use the matcher `toHaveProp` in this case?

[2020-09-23 13:36] brunohkbx opened #43 "Support @testing-library/react-native 7.0"
**Describe the feature you'd like:**
We should bump `@testing-library/react-native` from 6.0 to 7.0 and fix the broken tests in order to fully support v7.0.

**Suggested implementation:**
Follow these [instructions](https://callstack.github.io/react-native-testing-library/docs/migration-v7/#guide-for-testing-libraryreact-native-users)

[2020-09-23 13:42] brunohkbx commented on #23
@thymikee @mdjastrzebski as we discussed on #36, what do you guys think about also removing this `DISABLE_TYPES` from this matcher? It has the same purpose as the `VALID_ELEMENTS`.

[2020-09-24 08:39] mdjastrzebski commented on #23
@brunohkbx
We definitely should update the current code, however just removing `DISABLE_TYPES` will probably not be enough.

Disabled element checks in RNTL have their own logic, which is different than just checking `disabled` prop. It follows RN code and uses `View.onStartShouldSetResponder` prop. So most probably we should use the same logic here.

See: https://github.com/callstack/react-native

[2020-09-28 15:30] thymikee commented on #43
Let's do it please, happy to review!

[2020-10-02 07:02] #22 closed

[2020-10-12 18:01] brunohkbx commented on #27
This one should be resolved by #36

[2020-10-12 18:01] #27 closed

[2020-10-12 18:02] brunohkbx commented on #37
closed this in #36

[2020-10-12 18:02] #37 closed

[2020-10-14 13:02] sregg opened #46 "ReferenceError: expect is not defined"
When I add `import '@testing-library/jest-native/extend-expect';` inside my `setup.js` which is referenced in `setupFiles` inside my `jest-config.json`, I get this error on every test:

[code]

When I reference it in `setupFilesAfterEnv` instead, it's all working fine.

I'd be happy to push a PR to add that gotcha in the README if the maintainers thing it makes sense.

- `react-native`: 0.63.2
- `

[2020-10-15 11:48] sbalay commented on #46
Looking at the latests docs of jest-dom, they recommend extending the matchers in the setupFilesAfterEnv, so I guess it's find to do that here as well. I'll send a PR to update the docs

[2020-10-27 08:44] GoktuqCan commented on #27
Still having this issue with version `3.4.3` and `TouchableOpacity`.
`expect(getByTestId('test_id_test')).toHaveProp('disabled')`

[2020-10-28 01:35] jbolotin opened #48 "Extending expect in typescript project"
### Problem description:
Thanks for maintaining this great library! I'm super excited to have found it and to start using it to more easily test react native components.

I'm trying to add this to a typescript RN project, but I'm having trouble getting this to properly extend `expect`. I've tried following [the instructions](https://callstack.github.io/react-native-testing-library/docs/getting-sta

[2020-10-28 02:08] #48 closed

[2020-10-28 02:19] brunohkbx commented on #48
@jbolotin have you found a solution?

[2020-10-29 10:08] Goldziher opened #49 "Add a way to test Modal components"
Hi,

Its very difficult to test the Modal component in RN directly at present. It would be awesome if:

1. there is some way to directly select the modal element
2. check if the modal "visible" prop is in place, i.e. use a matcher like "toBeVisible()"

If not 1 & 2, it would be great if we could check if components within a modal are in fact visible or not.

[2020-11-11 23:11] maxckelly commented on #48
Did you find a solution? I'm facing this issue at the moment.

[2020-12-20 21:42] M-Jas commented on #46
I know this is closed but I wanted to add an alternative [solution](https://github.com/testing-library/jest-dom/issues/122#issuecomment-650520461) because the suggestions above didn't work in my case.

Keep `import '@testing-library/jest-native/extend-expect';` in your setup file.

Then move your setup file from:
[code]
to
[code]

This might not work for everyone, but I wanted to share my mix. 👋

[2020-12-29 07:38] MatanBobi opened #51 "Move release flow from travis to github actions"
Following [this](https://github.com/testing-library/dom-testing-library/pull/809#issue-515554670) PR by @kentcdodds, we're migrating all travis pipelines to github actions :)

An example for the action can be seen [here](https://github.com/testing-library/dom-testing-library/blob/master/.github/workflows/validate.yml).

[2020-12-29 22:39] michaelgmcd commented on #48
@brunohkbx You need to make sure that `@testing-library/jest-native` is imported in a ts file. You can do it at the top of a test file or somewhere like setup.ts
[code]

[2021-03-02 18:40] bcarroll22 commented on #46
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/jest-native/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-02 18:40] bcarroll22 commented on #22
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/jest-native/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-11 11:13] Punksmurf opened #54 "toBeDisabled does not equal not.toBeEnabled"
- `react-native` or `expo`: react-native
- `@testing-library/react-native` version: 3.4.3
- `jest-preset`: react-native
- `react-native` version: 0.63.4
- `node` version: v15.5.0

### Relevant code or config:

[code]

### What you did:

Run this test.

### What happened:

The second expectation fails, which I believe it should not do.

### Reproduction:

I [forked](https://github.com/Punksmurf/ntl

[2021-03-20 15:06] Punksmurf commented on #54
Well that was quite an embarrassing mistake to make in the title.

[2021-04-01 00:04] jaquinocode opened #55 "Broken link in README ('Usage' section)"
### What you did:

Clicked on link 'tests setup file' in Usage section of README:

### What happened:
Took me to top of the linked page.

### What should have happened:
Should have taken me to specific section given by this link:
[https://jestjs.io/docs/configuration#setupfilesafterenv-array](https://jestjs.io/docs/configuration#setupfilesafterenv-array
)

### Can you help us fix this issue by sub

[2021-04-06 15:10] #55 closed

[2021-04-06 19:50] brunohkbx commented on #23
@mdjastrzebski would you mind reviewing it? #50

[2021-04-08 18:57] piotrponikowski opened #57 "queryByLabelText not working for custom components"
I am trying to figure out why this test works:

[code]

but after moving part of hierarchy to separate component it stopped to pass:
[code]

Error for 2nd test:
[code]

Both tests have the same snapshot printed by debug method:
[code]

Is it intentional behavior?

Tested with:

- @testing-library/jest-native: 4.0.1
- @testing-library/react-native: 8.0.0-rc.1

[2021-04-09 14:46] Elias-Graf commented on #54
Just spent an hour or two trying to figure out why my element isn't coming up as disabled. Finally decided to place some logs in this library and found the exact same oddity as @Punksmurf . To be fank I don't think there is a right or wrong solution, there are cases when you want to check if a specific element is disabled (nested buttons) and cases where you want to check if the "whole branch" is

[2021-04-09 15:11] Elias-Graf commented on #54
Looking at the documentation, `toBeDisabled` (somewhat incorrectly) states that:

https://github.com/testing-library/jest-native/blob/3cfd279ad2a75a0da1baad8e366bf40c65b774dc/README.md#L119

It does in fact not just check if the parent has been disabled, but the whole branch, up to the tree root, right? (I've not looked at the code for too long so don't blame me too hard.). But hey minor detail.

[2021-06-18 22:22] Grohden opened #60 "toHaveTextContent doesn't work properly when a custom component doesn't use children"
- `react-native` version: 0.64.2
- `@testing-library/react-native` version: 7.2.0
- `jest-preset`: 'react-native'
- `node` version: v15.13.0
- `@testing-library/jest-native` version: 4.0.1

### Relevant code or config:

See reproduction section.

### What you did:

I've been testing my application, but the text match doesn't work properly, I've come across 2 bugs, one which is covered by #59  and

[2021-06-21 14:59] AlanSl opened #62 "`toHaveTextContent` skips intermediate levels in deep-nested text"
- `react-native` or `expo`: Expo
- `@testing-library/react-native` version: 4.0.1
- `jest-preset`: `'react-native'`
- `react-native` version:
- `node` version: `v16.1.0`

### Relevant code or config:

[code]

### What you did:

Tried to write Native Testing Library tests for some text nesting scenarios.

### What happened:

Jest was getting the wrong values, see comments in "Relevant code or confi

[2021-06-21 15:47] AlanSl commented on #40
@brunohkbx not if you want your test to test that text styles are inherited as expected. For example, I'm trying to write tests for elements intended to be used inline within `<Text>` and I want the tests to ensure that in a variety of nesting scenarios, the correct styles are inherited and overridden.

To give a simple example, to test that this `Link` component resolves as red and bold:

[code]

[2021-06-21 16:03] AlanSl commented on #40
Here's an example failing case. In an app the text is red and bold due to text style inheritance but Jest doesn't see it that way:

[code]

If the style is set directly on that element, the tests pass:

[code]

[2021-07-09 16:03] mitramejia commented on #31
@kentcdodds would love to help!

[2021-08-02 18:59] #51 closed

[2021-08-11 05:10] tomtanti commented on #54
I was playing with the test code above by swapping `disabled`. Not sure why both `toBeDisabled` and `toBeEnabled` still pass. Maybe the matcher for both cases also checks the parent but this is confusing.
[code]

[2021-09-29 14:04] cassiourugit opened #69 "Asserting a style of a parent element - There is a better way of doing this?"
Hi,

I have this structure
![Captura de Tela 2021-09-29 às 10 53 50](https://user-images.githubusercontent.com/31551486/135283484-77ab5569-8952-4527-970e-2a7cd54149f2.png)

I'm able to find my icon and validate the opacity by doing it like this:
`const rightIcon = getByTestId('SvgPlusIcon');`

`expect(rightIcon.parent?.parent?.parent?.parent).toHaveStyle({opacity: pfTheme.opacity.light});`

I've

[2021-11-23 23:17] matinzd commented on #54
[code]

[2021-12-21 18:55] Grohden commented on #62
So, with #61 your last test works (but it also works without it)

But the first fails with:
[code]
I'm not a maintainer so I don't know what's wrong since the `getByText` seems to come from the testing library 🤔

[2021-12-23 23:50] jorgeruvalcaba opened #72 "Property 'toHaveStyle' does not exist on type 'JestMatchers<any>'"
I've just installed `jest-native` and when I try to use `toHaveStyle()` I got this error:

<img width="451" alt="Screen Shot 2021-12-23 at 4 46 12 p m" src="https://user-images.githubusercontent.com/7416811/147297312-bd2c0c72-e240-4edc-a580-1a77ad886b95.png">

This is the complete example:
[code]

How can I get rid off this error?

[2022-01-20 11:20] technyx-ali-rehman commented on #72
Same here
![image](https://user-images.githubusercontent.com/48116823/150329354-7a44bb70-1be2-41ae-b173-d3da000b3142.png)

[2022-01-20 11:54] ibtisamarif831 commented on #54
@tomtanti Did you find any solution? In my case, I have a custom buttom based on a TouchableOpacity and both of the assertions are passing. toBeDisabled and toBeEnabled both are passing even if the button is disabled

[2022-01-24 18:24] fluiddot commented on #49
👋 I'd like to share that I'm working on adding the `toBeVisible` matcher in [this PR](https://github.com/testing-library/jest-native/pull/73) following a similar logic as the same `jest-dom` matcher ([reference](https://github.com/testing-library/jest-dom#tobevisible)). I think this matcher would be useful for covering cases like the one described above by @Goldziher, in order to check the visibil

[2022-01-25 11:26] fluiddot commented on #49
After applying some updates, [the PR](https://github.com/testing-library/jest-native/pull/73) is now ready to be reviewed 🎊 .

[2022-01-31 06:25] chris-chapin opened #74 "feat: toBeFocused"
**Describe the feature you'd like:**

A new matcher for testing if an element is focused.

Similar to what Detox has: https://wix.github.io/Detox/docs/api/expect#tobefocused

[2022-02-07 15:12] fluiddot opened #75 "Unit tests fail locally using `main` branch"
- `react-native` or `expo`: react-native
- `@testing-library/react-native` version: 6.0.0
- `jest-preset`: N/A
- `react-native` version: 0.63.2
- `node` version: v14.18.3

### Relevant code or config:

N/A

### What you did:

Clone the repository locally and run the command `npm run test` or `npm test`.

### What happened:

The command fails with the following errors:

[code]

### Reproduction:

I

[2022-02-24 13:45] flo-sch commented on #72
It seems like referencing this library directly from within the jest config causes the types not to be loaded. I guess this is how jest & TypeScript together works, not sure if there is a way to automatically fix it.

But a simple workaround is to point the script to a TypeScript file that just imports the library:

Change from this:

[code]

To this:

[code]

[code]

[2022-02-24 18:35] friederbluemle commented on #72
Related: #7

One more thing worth mentioning (in case it wasn't obvious):

Make sure the test setup file ends in `.ts` (or `.tsx`), and is **not excluded** in the default tsconfig used by your IDE (e.g. by sitting in a directory that is part of `exclude` in `tsconfig.json`).

[2022-03-09 14:38] zhiqingchen commented on #72
it works, but it will cause `setup.ts` to be builded

[2022-03-09 22:28] friederbluemle commented on #72
That's correct. If your project is published and you want to only ship compiled source files (not tests or setup.ts), then you would need two separate `tsconfig.json` files. For example, one `tsconfig.release.json` _extending_ `tsconfig.json`, which _excludes_ tests. In your `package.json` you'd have a `build` script like: `tsc -p tsconfig.release.json`. Your IDE will pick up `tsconfig.json` which

[2022-04-14 22:08] HudiDev commented on #74
have no idea why react-testing-library has a focus feature but not react-native-testing-library

[2022-04-29 11:01] Alex-Whyatt opened #76 "Bump version of jest-diff"
**Describe the feature you'd like:**

The current version of jest diff - 24.0.0, relies on pretty-format@24.9.0, which it now seems to be defaulting to for me, and I've not had any luck resolving my package.json to a later version.

**Suggested implementation:**

Bump jest-diff, at least to 27.x

**Describe alternatives you've considered:**

n/a

**Teachability, Documentation, Adoption, Migration

[2022-05-01 21:38] mdjastrzebski commented on #74
Interesting idea. I'm not sure if feasible, as RNTL does it's renders using React Test Renderer and not React Native renderer, and hence it's runtime environment is quite limited. In contract RTL uses real React DOM renderer working with Js DOM to have full-blown browser environment.

@chris-chapin would you be willing to build a PR for this?

[2022-05-11 13:14] TulipLi commented on #75
meet the same issue

[2022-05-11 13:42] mdjastrzebski commented on #75
I confirm that this also happens to me. Seems like our setup stopped working. I wonder how that could slip through CI.

[2022-05-11 21:05] slobo80 opened #77 "ramda dependency suffers from security vulnerability"
Current version of ramda referenced in package.json has a security vulnerability [CWE-915](https://cwe.mitre.org/data/definitions/915.html)

### Problem description:

### Suggested solution:

The problem has been fixed in [ramda 0.27.1](https://github.com/ramda/ramda/pull/3192). We should upgrade it to the latest compatible version.

### Can you help us fix this issue by submitting a pull request?

[2022-05-20 19:19] dbolkensteyn commented on #77
@slobo80 Where did you find out about this vulnerability?

[2022-05-25 11:55] slobo80 commented on #77
It is https://github.com/microsoft/component-detection

[2022-06-23 00:59] roni-castro commented on #72
This problem also happened with me when I added `"include": ["src/**/*"]` to the `tsconfig.json`

[2022-07-15 08:59] frontendwizard commented on #21
I'm facing this same issue on 4.0.4

[2022-07-25 05:34] idetatsu commented on #21
I am facing this on 4.0.5.

[2022-08-08 21:04] mdjastrzebski commented on #77
Merged Ramda update to 0.28 with #79

[2022-08-08 21:10] mdjastrzebski commented on #75
Fixed by #78

[2022-08-08 21:10] #75 closed

[2022-08-08 21:18] mdjastrzebski opened #81 "refactor: migrate code to TypeScript"
**Describe the feature you'd like:**

Current code is written in JavaScript without any from of strong typing. We provide a TypeScript types file.

Idea is to migrate the whole code base to use TS.

**Suggested implementation:**

Migrate all code files to typescript.

**Describe alternatives you've considered:**

* Stay as is, but we loss benefits of static type checking in our code.

**Teachabili

[2022-08-09 05:25] #60 closed

[2022-08-09 16:57] #43 closed

[2022-08-09 16:57] #76 closed

[2022-08-10 12:24] mdjastrzebski opened #97 "refactor: remove Ramda dependency"
**Describe the feature you'd like:**

Remove Ramda dependency and replace with plain JS method where possible. Ramda has affected performance of Jest tests due to badly implemented treeshaking, and attempt #82 to optimise it using custom imports have caused issues for some users.

**Suggested implementation:**

Replace Ramda methods like `includes` with their native modern JS counterparts.

**Desc

[2022-08-11 06:48] #97 closed

[2022-08-11 10:08] mdjastrzebski commented on #62
I confirm that the situation got inverted the above tests now throw for `getByText()` query, while `toHaveTextContent` now passes. BTW #61 already got merged.

[2022-08-17 07:52] 7assenTlili commented on #21
Facing this with 4.0.11

[2022-08-17 08:56] mdjastrzebski commented on #21
@7assenTlili take a look at RNTL + Jest Native setup in RNTL basic example: https://github.com/callstack/react-native-testing-library/tree/main/examples/basic

Has correct setup for TypeScript projects.

Note: you should import `@testing-library/jest-native/extend-expect` once, in your `jest-setup.ts` file.

[2022-08-17 09:11] 7assenTlili commented on #21
@mdjastrzebski Thanks for the quick reply. Something that I should mention is that we have Detox setup in the project as well, so  importing `@testing-library/jest-native/extend-expect` in jest-setup.js file does not work as it throws an error for `expect is not defined` (probably because jasmine expect is the global one) so we are importing it as `setupFilesAfterEnv: ['@testing-library/jest-nativ

[2022-08-17 10:20] mdjastrzebski commented on #21
Yes, I mean `jest-setup.js` that is imported as `setupFilesAfterEnv`

[2022-08-25 09:44] AugustinLF opened #102 "ToBeEmpty assertion in jest-native is also used in jest-extended"
**Describe the feature you'd like:**

Jest-Extended has an assertion named the same as jest-native's one:

-> https://github.com/jest-community/jest-extended#tobeempty
-> https://github.com/testing-library/jest-native#tobeempty

When both libs are used in the same project, the version of jest-extended overwrites the one from jest-native.

`@testing-library/jest-dom` has had the same problem https:

[2022-09-09 14:14] felippepuhle opened #109 "toHaveStyle breaks if style is a nested array"
- `react-native` or `expo`: react-native
- `@testing-library/react-native` version: 11.0.0
- `jest-preset`: react-native
- `react-native` version: 0.68.2
- `node` version: 16

### Problem description:

Problem was introduced on [v4.0.11](https://github.com/testing-library/jest-native/releases/tag/v4.0.11), after removing ramda.

### Suggested solution:

Keep going deep when merging styles, or mayb

[2022-09-09 16:50] mdjastrzebski commented on #109
@felippepuhle Could you submit a PR, preferably using StyleSheet.flatten?

[2022-09-09 21:57] felippepuhle commented on #109
def! I'll push one later

[2022-09-15 10:54] #109 closed

[2022-09-15 11:10] mdjastrzebski commented on #102
I am for `toBeEmptyElement`. @AugustinLF could you submit PR for that?

[2022-09-15 11:16] mdjastrzebski commented on #69
@cassiourugit I feel your pain. The element tree returned by React Native Testing Library is composed from `ReactTestInstance` objects, which represent either host components (e.g. `View`, `RNSVGSvgView`) or composite components (function/class components, from your own code, imported libraries, even React Native itself). Using simple `element.parent` can give you both host and composite component

[2022-09-22 20:40] gquaresma-godaddy commented on #102
Hey @mdjastrzebski can I assume this issue?

[2022-09-22 20:40] joaoGabriel55 commented on #102
Hey @mdjastrzebski can I assume this issue?

[2022-09-26 12:21] #102 closed

[2022-09-30 08:43] #81 closed

[2022-09-30 10:21] mdjastrzebski commented on #54
Fixed in #101

[2022-09-30 10:21] #54 closed

[2022-09-30 10:22] mdjastrzebski commented on #74
Closing as stale.

@chris-chapin if you find any suitable solution to the native/JS issue I've described above feel free to submit a PR for this.

[2022-09-30 10:22] #74 closed

[2022-09-30 10:25] mdjastrzebski commented on #72
Closing as stale.

@jorgeruvalcaba If the issue persists with the latest release v5.0.0. Please submit a new issue with minimal repro repository. For our convenience please use [`examples/basic`](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic) from React Native Testing Library as a base for the PR.

[2022-09-30 10:25] #72 closed

[2022-09-30 10:29] mdjastrzebski commented on #57
@piotrponikowski Closing the issue as fixed as I have run your examples under latest RNTL and JN, and both tests pass.

[2022-09-30 10:29] #57 closed

[2022-09-30 10:32] mdjastrzebski commented on #40
Closing as stale.

@sammysium If the issue persists with the latest versions of RNTL & JN, please submit a new issue with minimal repro repository. For overall convenience please use [examples/basic](https://github.com/callstack/react-native-testing-library/tree/main/examples/basic) from React Native Testing Library as a base for such PR.

[2022-09-30 10:32] #40 closed

[2022-09-30 10:33] mdjastrzebski commented on #69
Closing as solved because of suggested workaround.

[2022-09-30 10:33] #69 closed

[2022-10-13 14:48] kopax-polyconseil commented on #74
Hello,

In one of our test, the onFocus is setting the focus in a state and then display a list of clickable choice. I am not able to test it because this feature is not supported.

Can we reopen this please?

[2022-10-16 08:04] mdjastrzebski commented on #74
@kopax-polyconseil afaik supporting `toBeFocused()` in Jest Native/React Native Testing Library/React Test Renderer is not possible due to lack of runtime environment that would manage the focus. Original (web) React Testing Library has [jsdom](https://github.com/jsdom/jsdom) to simulate browser env, while Detox runs using real React Native environment on device/emulator.

In our case someone woul

[2022-10-20 20:54] mdjastrzebski commented on #49
Resolved by #73

[2022-10-20 20:54] #49 closed

[2022-11-04 08:38] mdjastrzebski commented on #23
Closing as stale.

[2022-11-04 08:38] #23 closed

[2022-11-22 09:20] HugoChollet opened #129 "Matcher toBeDisabled does not take into account the editable prop of TextInput"
### Problem / Feature Request

The matcher `toBeDisabled` does not take into account the editable prop of the `<TextInput />` component.

[code]
In the [readme.md](https://github.com/testing-library/jest-native#tobedisabled), it says:

In my opinion when we have `<TextInput editable={false}/>` the element appears to be disabled from a user perspective

What do you think of adding the `editable` pr

[2022-11-22 09:21] MattAgn commented on #129
Agreed, that would be a nice addition to have

[2022-11-23 15:07] jgornick opened #130 "Missing (dist) index.js which exports all matchers for library usage"
### Relevant code or config:

[code]
### What you did:

Upgrade `@testing-library/jest-native` from `4.0.2` to `5.3.0`

### What happened:

`Cannot find module '@testing-library/jest-native ...`

### Reproduction:

Try to import all or individual matchers using the code example in the README.md.

### Problem description:

After inspecting the package, the `main` entry field in `package.json` point

[2022-11-23 15:16] mdjastrzebski commented on #130
@jgornick It seems that this might be related to TS migration done with ver5.0. Pls submit a PR, can it be done using `tsc`?

[2022-11-28 17:58] jgornick commented on #130
PR created #132

[2022-11-28 17:58] #130 closed

[2022-11-29 00:44] kaibarnes opened #133 "toBeVisible failing when used on Pressable with style function"
- `react-native` or `expo`: react-native
- `@testing-library/react-native` version: 5.3.0
- `jest-preset`: jest-expo
- `react-native` version: 0.68.5
- `node` version: 16.16.0

### What happened:

When using `.toBeVisible` on a `Pressable` using a function for the style prop we get the following error
[code]

Using a function in the style prop is used for checking whether the component is currentl

[2022-11-29 00:57] kaibarnes commented on #133
I've made https://github.com/testing-library/jest-native/pull/134 which appears to fix the issue.